/* simple reset to have the same appearance in all browsers */
html, body, h1, h2, h3, p {
	border: 0;
	margin: 0;
	padding: 0;
}

/* main elements */
body {
	background-color: silver;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

/* player main part */
main {
	background-color: #232332;
	border-radius: 1.6rem;
    margin: auto;
    margin-top: 1rem;
    min-height: 20rem;
    padding-bottom: 1rem;
    width: 43rem;
}

/* player left part */
.left-content {
    padding-left: 2rem;
    padding-top: 3.5rem;
    float: left;
}

.left-content > img {
	border: .05rem solid silver;
	border-radius: 1.6rem;
	width: 19rem;
}

/* progress line */
.progress-line {
	padding-top: 2rem;
	position: relative;
}
.progress-line-bottom {
	background-color: #393946;
	border-radius: .15rem;
	height: .25rem;
	left: 0;
	top: 1.75rem;
	width: 19rem;
}
.progress-line-on-top {
	background-color: #ba7667;
	border-radius: .2rem;
	position: absolute;
	height: .25rem;
	left: 0;
	top: 1.97rem;
	width: 15rem;
}

/* controls format start */
.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.prev, .next, .play-button-on, .volume, .volume-off, .play-button-off, .volume-off, .pause-off, .pause-button-on, .volume-mute-off {
	margin: 0 1rem;
}

.prev > img {
    height: .6rem;
    width: .8rem;
}

.next > img {
    height: .6rem;
    width: .8rem;
}

.play-button-on > img {
    height: 1rem;
    margin-top: .35rem;
	width: 1rem;
}

.play-button-off > img {
    display: none;
}

.volume > img {
    height: .9rem;
    margin-top: .45rem;
    padding-left: 1rem;
    width: 1.2rem;
} 

.volume-off > img {
    display: none;
}

.volume-mute-off {
	height: 1rem;
    margin-top: .28rem;
	width: 1rem;
}

.pauseOff > img {
    display: none;
}

.pause-button-on > img {
    width: 1rem;
    height: 1rem;
}

.pause-button-off > img {
    display: none;
    margin-top: .35rem;
}
/* controls format end */

/* other elements */

































