/* simple reset to have the same appearance in all browsers */
html, body, h1, h2, h3, p {
	border: 0;
	margin: 0;
	padding: 0;
}

/* main elements */
body {
	background-color: silver;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

/* player main part */
main {
	background-color: #232332;
	border: .05rem solid LightSlateGray;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #788977;
    margin: auto;
    margin-top: 1rem;
    min-height: 20rem;
    padding-bottom: 1rem;
    width: 45rem;
}

/* player left part */
.left-content {
    padding-left: 2rem;
    padding-top: 3.5rem;
    float: left;
}

.left-content > img {
	border: .05rem solid silver;
	border-radius: 1.6rem;
	width: 19rem;
}

/* progress line */
.progress-line {
	padding-top: 2rem;
	position: relative;
}
.progress-line-bottom {
	background-color: #393946;
	border-radius: .15rem;
	height: .3rem;
	left: 0;
	top: 1.75rem;
	width: 19rem;
}
.progress-line-on-top {
	background-color: LightSlateGray;
	border-radius: .2rem;
	position: absolute;
	height: .3rem;
	left: 0;
	top: 1.97rem;
	width: 15rem;
}

/* controls format start */
.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.prev, .next, .play-button-on, .volume, .volume-off, .play-button-off, .volume-off, .pause-off, .pause-button-on, .volume-mute-off {
	margin: 0 1rem;
}
.prev > img {
    height: .6rem;
    width: .8rem;
}
.next > img {
    height: .6rem;
    width: .8rem;
}
.play-button-on > img {
    height: 1rem;
    margin-top: .35rem;
	width: 1rem;
}
.play-button-off > img {
    display: none;
}
.volume > img {
    height: .9rem;
    margin-top: .45rem;
    padding-left: 1rem;
    width: 1.2rem;
}
.volume-off > img {
    display: none;
}
.volume-mute-off {
	height: 1rem;
    margin-top: .28rem;
	width: 1rem;
}
.pauseOff > img {
    display: none;
}
.pause-button-on > img {
    width: 1rem;
    height: 1rem;
}
.pause-button-off > img {
    display: none;
    margin-top: .35rem;
}
/* controls format end */


/* player right part */
.right-content {
	padding-left: 2rem;
    padding-top: 1rem;
    float: left;
}
.right-content-titles {
    float: left;
}
.right-content-titles ul li {
    list-style-type: none;
    margin-bottom: .1rem;
}
.right-content-titles a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-decoration: none;
}
.right-content-titles a:hover {
    color: LightSlateGray;
}

.right-content-times {
    float: left;
    padding-left: .1rem;
    padding-top: 1rem;
}
.right-content-times ul {
	margin-top: .78rem;
	padding-left: 1rem;
}
.right-content-times ul li {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    list-style-type: none;
    margin-bottom: .6rem; 
}

/* scroll bar */
.right-content-scroll {
    float: left;
    position: relative;
}
.scroll-bottom {
    background-color: #393946;
    border-radius: .05rem;
    height: 10rem;
    left: 1.67rem;
    position: absolute;
   	top: 3.5rem;
   	width: .3rem;
}
.scroll-on-top {
    position: absolute;
    width: .3rem;
    height: 9rem;
    top: 3.5rem;
    left: 1.67rem;
    background-color: LightSlateGray;
    border-radius: .05rem;
}

/* social media icons */
.img-fb-style {
    padding-top: 0;
    margin-bottom: .5rem;
    margin-left: 2.4rem;
}
.img-sc-style{
    padding-top: 0;
    margin-bottom: .5rem;
    margin-left: 2.4rem;
}
.img-tw-style {
    padding-top: 0;
    margin-bottom: .5rem;
    margin-left: 2.4rem;
}


/* footer part */
footer div {
    background-color: #232332;
    border: .05rem solid LightSlateGray;
    border-radius: .8rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #788977;
    color: LightSlateGray;
    font-size: .8rem;
    margin: auto;
    padding: .8rem;
    text-align: center;
    width: 43rem;
}
footer a {
    color: LightSlateGray;
    font-weight: bold;
    text-decoration: none;
}



























